.Rproj.user
.Rhistory
src/*.o
src/*.so
src/*.dll
.idea/Ball.iml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/simulation/
realdata/
vignettes/bdExample.png
BCovJASA/Code.zip
newFeature/
vignettes/regressionDemo.png
vignettes/classificationDemo.png
R/figureGenerator.R
package/
reference/statistical shape analysis with R.pdf
AcademicReport/BCov201710.zip
AcademicReport/BCov201710/201710BCov.aux
AcademicReport/BCov201710/201710BCov.bbl
AcademicReport/BCov201710/201710BCov.blg
AcademicReport/BCov201710/201710BCov.log
AcademicReport/BCov201710/201710BCov.nav
AcademicReport/BCov201710/201710BCov.pdf
AcademicReport/BCov201710/201710BCov.snm
AcademicReport/BCov201710/201710BCov.synctex.gz
AcademicReport/BCov201710/201710bcov.out
AcademicReport/BCov201710/201710bcov.out.bak
AcademicReport/BCov201710/201710BCov.tex.bak
AcademicReport/BCov201710/201710BCov.toc
AcademicReport/BCov201710/BCovPlot-eps-converted-to.pdf
AcademicReport/BCov201710/BCovPlot.jpeg
AcademicReport/BCov201710/CS_hist_age-eps-converted-to.pdf
AcademicReport/BCov201710/CS_hist_hand-eps-converted-to.pdf
AcademicReport/BCov201710/ex1-eps-converted-to.pdf
AcademicReport/BCov201710/ex2-eps-converted-to.pdf
AcademicReport/BCov201710/ex3-eps-converted-to.pdf
AcademicReport/BCov201710.rar
AcademicReport/BCov201710/ModifyAdvice.pdf
BCovJASA/BI-JASA-20170901/3viewplot.pptx
BCovJASA/BI-JASA-20170901.rar
BallJSS/paper/ball_jss/ball_jss.synctex.gz
BallJSS/paper/ball_jss/ball_jss.out.bak
BallJSS/reference/
.Rd2pdf9116/
reference/Springer.Analyzing Compositional Data with R.2013.pdf
reference/BISIS20170918_blind_App.pdf
reference/BISIS20170918_blind.pdf
