.Rproj.user
.Rhistory
src/*.o
src/*.so
src/*.dll
.idea/Ball.iml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/simulation/
realdata/
github/
vignettes/bdExample.png
BCovJASA/Code.zip
newFeature/
R/figureGenerator.R
package/
reference/statistical shape analysis with R.pdf
AcademicReport/BCov201710.zip
AcademicReport/BCov201710/201710BCov.aux
AcademicReport/BCov201710/201710BCov.bbl
AcademicReport/BCov201710/201710BCov.blg
AcademicReport/BCov201710/201710BCov.log
AcademicReport/BCov201710/201710BCov.nav
AcademicReport/BCov201710/201710BCov.pdf
AcademicReport/BCov201710/201710BCov.snm
AcademicReport/BCov201710/201710BCov.synctex.gz
AcademicReport/BCov201710/201710bcov.out
AcademicReport/BCov201710/201710bcov.out.bak
AcademicReport/BCov201710/201710BCov.tex.bak
AcademicReport/BCov201710/201710BCov.toc
AcademicReport/BCov201710/BCovPlot-eps-converted-to.pdf
AcademicReport/BCov201710/BCovPlot.jpeg
AcademicReport/BCov201710/CS_hist_age-eps-converted-to.pdf
AcademicReport/BCov201710/CS_hist_hand-eps-converted-to.pdf
AcademicReport/BCov201710/ex1-eps-converted-to.pdf
AcademicReport/BCov201710/ex2-eps-converted-to.pdf
AcademicReport/BCov201710/ex3-eps-converted-to.pdf
AcademicReport/BCov201710.rar
AcademicReport/BCov201710/ModifyAdvice.pdf
BCovJASA/BI-JASA-20170901/3viewplot.pptx
BCovJASA/BI-JASA-20170901.rar
BallJSS/paper/ball_jss/ball_jss.synctex.gz
BallJSS/paper/ball_jss/ball_jss.out.bak
BallJSS/reference/
.Rd2pdf9116/
reference/Springer.Analyzing Compositional Data with R.2013.pdf
reference/BISIS20170918_blind_App.pdf
reference/BISIS20170918_blind.pdf
*.o
Python-package/.idea/workspace.xml
Python-package/.idea/modules.xml
Python-package/.idea/misc.xml
Python-package/.idea/markdown-navigator/profiles_settings.xml
Python-package/.idea/Python-package.iml
Python-package/build/lib.win-amd64-3.6/_cball.cp36-win_amd64.pyd
Python-package/__pycache__/wrap_c.cpython-36.pyc
Python-package/__pycache__/utilize.cpython-36.pyc
Python-package/__pycache__/cball.cpython-36.pyc
Python-package/__pycache__/cball.cpython-35.pyc
Python-package/__pycache__/bd_test.cpython-36.pyc
Python-package/build/temp.win-amd64-3.5/Release/cball_wrap.obj
Python-package/build/temp.win-amd64-3.5/Release/BD.obj
Python-package/build/temp.win-amd64-3.5/Release/cball.obj
Python-package/build/temp.win-amd64-3.5/Release/_cball.cp35-win_amd64.lib
Python-package/build/temp.win-amd64-3.5/Release/_cball.cp35-win_amd64.exp
Python-package/build/temp.win-amd64-3.5/Release/utilities.obj
Python-package/build/temp.win-amd64-3.6/Release/utilities.obj
Python-package/build/temp.win-amd64-3.6/Release/_cball.cp36-win_amd64.exp
Python-package/build/temp.win-amd64-3.6/Release/BD.obj
Python-package/build/temp.win-amd64-3.6/Release/cball_wrap.obj
Python-package/build/temp.win-amd64-3.6/Release/cball.obj
Python-package/build/temp.win-amd64-3.6/Release/_cball.cp36-win_amd64.lib
Python-package/_cball.cp36-win_amd64.pyd
Python-package/_cball.cp35-win_amd64.pyd
*.pyc
Python-package/.idea/markdown-navigator.xml
*.obj
*.lib
*.exp
*.gz
*.egg
Python-package/Ball.egg-info/
Python-package/build/
*.dll
*.filters
*.sln
*.vcxproj
*.db
*.opendb
src/cball/cball/Debug/
Python-package/src/cball.py
Python-package/.idea/
R-package/src-i386/
R-package/src-x64/
Ball_1.0.0.zip

src/src.zip
Ball_1.1.0.zip
Python-package/reference.md
simulation-JASA/InfiniteCase.R
simulation-JASA/ManifoldCase.R
simulation-JASA/MultivariateCase.R
Ball_1.2.0.zip
src/.idea/codeStyles/Project.xml
src/.idea/workspace.xml
src/.idea/src.iml
src/.idea/modules.xml
src/.idea/misc.xml
src/.idea/dictionaries/JinZhu.xml
src/cmake-build-debug/
note.md
Ball_1.3.5.zip
src/test/lib/
src/.idea/.name
src/.idea/vcs.xml
src/test2.c
src/test.c
Ball_1.3.8.zip
R-package.pdf
gwas.R
test_bd_gwas.R
*.pyd
Python-package/dist/Ball-0.2.1-cp35-cp35m-win_amd64.whl
Python-package/dist/
Python-package/docs/_build/
Python-package/docs/make.bat
Python-package/.spyproject/
Python-package/.vscode/launch.json
Python-package/.vscode/
R-package/..pdf
